{
  "branches": ["main"],
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "angular",
      "releaseRules": [
        {"type": "release", "release": "minor"},
        {"type": "feat", "release": "minor"},
        {"type": "fix", "release": "patch"},
        {"type": "chore", "release": "patch"},
        {"type": "docs", "release": "patch"},
        {"type": "refactor", "release": "patch"}
      ]
    }],
    "@semantic-release/release-notes-generator",
    ["@semantic-release/exec", {
      "prepareCmd": "./.zip.sh ${nextRelease.version}"
    }],
    ["@semantic-release/git", {
      "assets": ["Workflow/info.plist"],
      "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
    }],
    ["@semantic-release/github", {
      "assets": ["Timer.alfredworkflow"]
    }]
  ]
}
