{
  "branches": ["main"],
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "angular",
      "releaseRules": [
        {"release": "patch"}
      ]
    }],
    "@semantic-release/release-notes-generator",
    ["@semantic-release/exec", {
      "prepareCmd": "./.zip.sh ${nextRelease.version}"
    }],
    ["@semantic-release/git", {
      "assets": ["info.plist"],
      "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
    }],
    ["@semantic-release/github", {
      "assets": ["Timer.alfredworkflow"]
    }]
  ]
}
