<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>timer.workflow</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>29D75900-57B8-44A6-A72B-802020EF36F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D1BFDFE-77FE-4AE6-AF28-0C987C14282F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>30B8359C-1436-47E8-9F04-6E5CFB234DFF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4261B7A-3892-4ADF-B093-142A7EA566CD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3EE8C2D6-858C-4F99-897F-DAE037BDE1B3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61512DD4-5CEC-4A23-9DB6-13836C4D46D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43FFB0F6-CCE8-4D6A-9739-109271B175D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5EADE272-1C98-4269-AA31-CEE35511AEA3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>49576F9E-2FA6-474D-9575-35693C5A1533</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE2184C0-8A5A-48F0-9116-0F8E81F1C3DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>5EADE272-1C98-4269-AA31-CEE35511AEA3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29D75900-57B8-44A6-A72B-802020EF36F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>61512DD4-5CEC-4A23-9DB6-13836C4D46D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F596D83C-3346-449D-9BCA-3191EE4113AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6EAEA393-462C-4621-950B-4C57BAB46B23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61512DD4-5CEC-4A23-9DB6-13836C4D46D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4261B7A-3892-4ADF-B093-142A7EA566CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>43FFB0F6-CCE8-4D6A-9739-109271B175D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B4470027-C28C-4678-846A-40B0C0FD781F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3EE8C2D6-858C-4F99-897F-DAE037BDE1B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>CE4941AE-EF58-4C47-9034-35921DDADF94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6EAEA393-462C-4621-950B-4C57BAB46B23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>D4E7636D-BD88-4389-B968-F1B9A60D8977</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>91B179A3-BB5E-4BBF-93DF-21464F07AE2C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0716703E-7BD0-4B4B-BE1B-0868313308E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EE2184C0-8A5A-48F0-9116-0F8E81F1C3DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61512DD4-5CEC-4A23-9DB6-13836C4D46D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F596D83C-3346-449D-9BCA-3191EE4113AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30B8359C-1436-47E8-9F04-6E5CFB234DFF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Yuri Mazursky</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Timer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  ObjC.import('stdlib');
  const time = $.getenv('timer_time');

  let seconds = 60;

  const match = time.match(/(\d*\.?\d+)([a-zA-Z]*)/i);

  if (match) {
    const digits = Number(match[1]);
    const units = match[2];

    if (['', 's', 'sec', 'secs', 'second', 'seconds'].includes(units)) {
      seconds = digits;
    }
    if (['m', 'min', 'mins', 'minute', 'minutes'].includes(units)) {
      seconds = digits * 60;
    }
    if (['h', 'hr', 'hrs', 'hour', 'hours'].includes(units)) {
      seconds = digits * 60 * 60;
    }
  }

  return seconds;
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>parse_time.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>61512DD4-5CEC-4A23-9DB6-13836C4D46D3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>subtext</key>
				<string>Will be shown at {var:timer_show_at}</string>
				<key>text</key>
				<string>Set timer message</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>43FFB0F6-CCE8-4D6A-9739-109271B175D6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  ObjC.import('stdlib');
  const seconds = $.getenv('timer_seconds');

  const options = {
    hour: 'numeric',
    minute: 'numeric',
    second: 'numeric',
    hour12: false,
  };

  const showTime = Date.now() + seconds * 1000;
  const showAt = new Intl.DateTimeFormat('en-US', options).format(showTime);

  return showAt;
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>format_time.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>30B8359C-1436-47E8-9F04-6E5CFB234DFF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>t</string>
				<key>subtext</key>
				<string>For example: 10mins</string>
				<key>text</key>
				<string>Set timer</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B4470027-C28C-4678-846A-40B0C0FD781F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>show_message</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>0D1BFDFE-77FE-4AE6-AF28-0C987C14282F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>{var:timer_seconds}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>29D75900-57B8-44A6-A72B-802020EF36F0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>timer_seconds</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F596D83C-3346-449D-9BCA-3191EE4113AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>timer_time</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3EE8C2D6-858C-4F99-897F-DAE037BDE1B3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>timer_show_at</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B4261B7A-3892-4ADF-B093-142A7EA566CD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>timer_message</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5EADE272-1C98-4269-AA31-CEE35511AEA3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>t 5m</string>
				<key>subtext</key>
				<string>For example: Call Jake</string>
				<key>text</key>
				<string>Set timer for 5 minutes</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>49576F9E-2FA6-474D-9575-35693C5A1533</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>timer_time</key>
					<string>5m</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EE2184C0-8A5A-48F0-9116-0F8E81F1C3DC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>2</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>91B179A3-BB5E-4BBF-93DF-21464F07AE2C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>show_message</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>D4E7636D-BD88-4389-B968-F1B9A60D8977</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>t 10m</string>
				<key>subtext</key>
				<string>For example: Call Jake</string>
				<key>text</key>
				<string>Set timer for 10 minutes</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CE4941AE-EF58-4C47-9034-35921DDADF94</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>timer_time</key>
					<string>10m</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6EAEA393-462C-4621-950B-4C57BAB46B23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Timer</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0716703E-7BD0-4B4B-BE1B-0868313308E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0716703E-7BD0-4B4B-BE1B-0868313308E8</key>
		<dict>
			<key>xpos</key>
			<real>1055</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>0D1BFDFE-77FE-4AE6-AF28-0C987C14282F</key>
		<dict>
			<key>xpos</key>
			<real>1055</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>29D75900-57B8-44A6-A72B-802020EF36F0</key>
		<dict>
			<key>xpos</key>
			<real>985</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>30B8359C-1436-47E8-9F04-6E5CFB234DFF</key>
		<dict>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>3EE8C2D6-858C-4F99-897F-DAE037BDE1B3</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>43FFB0F6-CCE8-4D6A-9739-109271B175D6</key>
		<dict>
			<key>xpos</key>
			<real>755</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>49576F9E-2FA6-474D-9575-35693C5A1533</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>5EADE272-1C98-4269-AA31-CEE35511AEA3</key>
		<dict>
			<key>xpos</key>
			<real>915</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>61512DD4-5CEC-4A23-9DB6-13836C4D46D3</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>6EAEA393-462C-4621-950B-4C57BAB46B23</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>91B179A3-BB5E-4BBF-93DF-21464F07AE2C</key>
		<dict>
			<key>xpos</key>
			<real>1055</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>B4261B7A-3892-4ADF-B093-142A7EA566CD</key>
		<dict>
			<key>xpos</key>
			<real>685</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>B4470027-C28C-4678-846A-40B0C0FD781F</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>CE4941AE-EF58-4C47-9034-35921DDADF94</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>D4E7636D-BD88-4389-B968-F1B9A60D8977</key>
		<dict>
			<key>note</key>
			<string>Show message</string>
			<key>xpos</key>
			<real>835</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>EE2184C0-8A5A-48F0-9116-0F8E81F1C3DC</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>F596D83C-3346-449D-9BCA-3191EE4113AA</key>
		<dict>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
